.cartImg{
    width: 2.5rem;
    height: inherit;
    transition: transform 500ms, fill 500ms;
    fill: var(--green);
}

.badge{
    text-align: center;
    position: absolute;
    display: grid;
    pointer-events: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 1rem;
    left: 0rem;
    bottom: 0rem;
    width: 1rem;
    height: 1rem;
    font-size: 0.7rem;
    z-index: 5;
    transition: 500ms;
    background-color: var(--lightGrey);
    color: var(--darkGreen);
}

.noBadge{
    opacity: 0;
}

.navOpenCart{
    transition: 500ms;
    fill: var(--cream);
}

.navOpenBadge{
    transition: 500ms;
    background-color: var(--cream);
    font-weight: bolder;
    color: var(--darkGrey);
}

.cartDropmenu{
    position: absolute;
    overflow-y: auto;
    display: grid;
    background-color: whitesmoke;
    cursor: default;
    justify-items: stretch;
    align-content: flex-start;
    row-gap: 1rem;
    transition-delay: 100ms;
    border-radius: 1rem;
    border: 2rem solid whitesmoke;
    height: 20rem;
    top: -11rem;
    right: -9rem;
    padding-bottom: 3rem;
    opacity: 0;
    z-index: 20;
    transform: scale(0.1);
    color: var(--green);
    transition: opacity 1s, top 1s, right 1s, transform 1s;
}

.emptyCartDrp{
    position: absolute;
    background-color: whitesmoke;
    display: grid;
    text-align: center;
    align-items: center;
    cursor: default;
    color: var(--darkGreen);
    transition: opacity 1s, top 1s, right 1s, transform 1s;
    transition-delay: 100ms;
    border-radius: 1rem;
    height: 2rem;
    width: 10rem;
    padding: 2rem;
    top: -2.5rem;
    right: -6rem;
    opacity: 0;
    transform: scale(0.1);
}

.titlesCart{
    list-style: none;
    display: grid;
    text-transform: capitalize;
    padding: 0rem 1rem;
    padding-right: 5rem;
    font-weight: 300;
    grid-template-columns: 5fr 1fr 3fr;
    column-gap: 3rem;
    font-size: 1.2rem;
    border: 0px solid;
    border-bottom: 1px solid;
    border-color: var(--grey);
    color: var(--darkGrey);
}

.itemCart{
    list-style: none;
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    column-gap: 3rem;
    padding: 0rem 1rem;
    color: var(--black);
}

.buttonsBox{
    width: 95%;
    height: 2.5rem;
    bottom: 0rem;
    right: 0rem;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}