.logo{
    fill: var(--green);
    width: 30px;
    height: 90%;
    margin: 0px;
    padding: 0px;
}

.open{
    transition: fill 1s;
    fill: var(--green);
}

.close{
    transition: fill 1s;
    fill: #00000000;
}

.hide{
    fill: #00000000;
}