.logo{
    margin: 0%;
    width: 11rem;
    height: 95%;
    justify-self: center;
    position: relative;
    display: grid;
    align-items: center;
}

.circle{
    top: -1.9rem;
    left: 2.4rem;
    max-height: 3.7rem;
    opacity: 1;
    position: absolute;
    width: auto;
    fill: var(--lightGreen);
}

.icon1{
    top: -1.9rem;
    left: 2.4rem;
    max-height: 3.7rem;
    opacity: 1;
    position: absolute;
    width: auto;
    fill: var(--lightGreen);
}

.icon2{
    top: -1.9rem;
    left: 2.4rem;
    max-height: 3.7rem;
    opacity: 1;
    position: absolute;
    width: auto;
    fill: var(--green);
}

.text1{
    position: absolute;
    font-family: var(--sanSerif);
    color: var(--green);
    font-size: 0.9rem;
    top: -0.4rem;
    left: 4.26rem;
}


.text2{
    position: absolute;
    font-family: var(--sanSerif);
    color: var(--green);
    font-size: 0.9rem;
    top: 0.5rem;
    left: 5.78rem;
}

.logoOpenNav{
    transition: fill 500ms, color 500ms !important;
    fill: white !important;
    color: white !important;
}

.hide{
    opacity: 0;
}

.showCircle{
    animation-name: animationCircle;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes animationCircle {
    from{
        opacity: 0;
    }   
    to{
        opacity: 1;
        transform: rotate(360deg);
    }
}

.showIcon1{
    animation-name: animationIcon1;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes animationIcon1 {
    from{
        opacity: 0;
    } 
    to{
        opacity: 1;
        transform: rotate(360deg);
    }
}

.showIcon2{
    animation-name: animationIcon2;
    opacity: 0;
    animation-delay: 2000ms;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes animationIcon2 {
    from{
        fill: var(--lightGreen);
    } 
    to{
        opacity: 1;
        fill: var(--green);
        transform: rotate(-360deg);
    }
}

.showText{
    animation-name: animationText;
    opacity: 0;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes animationText {
    from{
        font-size: 0.8rem;
    }
    to{
        opacity: 1;
        font-size: 0.9rem;
    }
}