.logo{
    margin: 0%;
    width: 11rem;
    height: 95%;
    justify-self: center;
    position: relative;
    display: grid;
    align-items: center;
}

.circle{
    top: -1.9rem;
    left: 2.4rem;
    max-height: 3.7rem;
    animation-iteration-count: 2;
    animation-duration: 1000ms;
    position: absolute;
    width: auto;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    fill: var(--green);
    animation-name: animationCircle;
}

@keyframes animationCircle {
    from{
        opacity: 0;
    }   
    to{
        opacity: 1;
        transform: rotate(360deg);
    }
}

.icon1{
    top: -1.9rem;
    left: 2.4rem;
    max-height: 3.7rem;
    animation-iteration-count: 2;
    animation-duration: 1500ms;
    animation-delay: 500ms;
    animation-name: animationIcon1;
    position: absolute;
    width: auto;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes animationIcon1 {
    from{
        opacity: 0;
        fill: var(--green);
    } 
    to{
        opacity: 1;
        transform: rotate(360deg);
        fill: var(--darkGreen);
    }
}

.icon2{
    top: -1.9rem;
    left: 2.4rem;
    max-height: 3.7rem;
    animation-delay: 2000ms;
    animation-duration: 1000ms;
    position: absolute;
    width: auto;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    fill: var(--darkGreen);
    animation-name: animationIcon2;
}

@keyframes animationIcon2 {
    from{
        fill: var(--green);
        opacity: 0;
    } 
    to{
        opacity: 1;
        fill: var(--darkGreen);
        transform: rotate(-360deg);
    }
}

.text1{
    position: absolute;
    font-family: var(--sanSerif);
    color: var(--darkGreen);
    font-size: 0.9rem;
    top: -0.4rem;
    left: 4.26rem;
}


.text2{
    position: absolute;
    font-family: var(--sanSerif);
    color: var(--darkGreen);
    font-size: 0.9rem;
    top: 0.5rem;
    left: 5.78rem;
}

.showText{
    animation-name: animationText;
    opacity: 0;
    animation-delay: 2500ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes animationText {
    from{
        font-size: 0.8rem;
    }
    to{
        opacity: 1;
        font-size: 0.9rem;
    }
}

.logoOpenNav{
    transition: fill 500ms, color 500ms !important;
    fill: white !important;
    color: white !important;
}

.hide{
    opacity: 0 !important;
    height: 0px !important;
    width: 0px !important;
    z-index: -3;
}