.dropMenuContainer{
    list-style: none;
}

.dropmenu{
    position: relative;
    list-style: none;
    overflow: hidden;
    transition: height 1s, opacity 1s, top 1s, left 1s;
}

.openDropMenu{
    top: 0.5rem;
    left: 0rem;
    opacity: 1;
    height: 11rem;
}

.closeDropMenu{
    left: -2rem;
    opacity: 0;
    height: 0vh;
}

.arrow{
    position: absolute;
    height: auto;
    cursor: pointer;
    transition: transform 1s, fill 1s, bottom 1s;
    z-index: 5;
    width: 1rem;
    right: 1rem;
}

.openArrow{
    transform: rotate(180deg);
    fill: var(--darkGrey);
    bottom: -1rem;
}

.closeArrow{
    fill: var(--grey);
    bottom: 0.3rem;
}

.arrow:hover{
    fill: var(--Darkgrey);
}

.openArrow:hover{
    fill: var(--grey);
}