.contact{
    padding: 2vh 5vw;
    min-height: 82vh;
    width: 90vw;
    max-width: 1500px;
    align-self: center;
    gap: 1rem;
    display: flex;
    flex-flow: column nowrap;
}

.mainTitle{
    font-family: var(--serif);
    font-size: 2rem;
}

.mainText{
    font-family: var(--serif);
    font-size: 1rem;
    font-weight: 200;
}