.homeContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 10vh;
    min-height: 87vh;
}

.homeBox{
    position: relative;
    display: grid;
    justify-items: center;
}

.heroBox{
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
        url("../../assets/images/hero.jpg")
    ;
    background-blend-mode:luminosity;
    font-family: var(--hero);
    height: 100vh;
    width: 100vw;
    top: -5rem;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}

.heroTextBox{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 2ch;
    top: 8rem;
    left: 4rem;
    max-width: 100ch;

}

.heroTitle{
    font-size: 2.6rem;
}

.heroText{
    font-size: 1.5rem;
    max-width: 45ch;
}