@import url(../../Assets/Fonts/fonts.css);

:root {
    
  /* FONTS */

  --serif : 'Arvo';

  --sanSerif : 'Raleway';

  /* COLOURS */

  --cream : #E8E0C4;

  --darkCream : #D7C998;

  --grey : #7A6C66;

  --darkGrey : #0C0F0A;

  --lightGreen : #1A751B;

  --green : #182518;

}

*{
  margin: 0%;
  padding: 0%;
}

.layout {
 color: var(--darkGray);
 font-family: var(--sanSerif);
 height: max-content;
 width: 100vw;
 display: flex;
 flex-flow: column nowrap;
}
