.navBar{
    padding: 0% 2%;
    height: 5rem;
    width: 96%;
    top: 0%;
    left: 0%;
    z-index: 2;
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.transOn{
    transition: background-color 1s;
    background-color: #00000000;
}

.transOff{
    transition: background-color 1s;
    background-color:var(--darkGrey);
}

.items{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8vh;
    width: 100%;
    display: grid;
    list-style: none;
    justify-items: center;
    align-items: center;
}

.menuBox{
    justify-self: flex-start;
    width: 1.7rem;
}

.mainLogoBox a{
    height: 100%;
}

.cartBox{
    justify-self: flex-end;
}

.link{
    text-decoration: none;
    transition: color 500ms, font-weight 500ms;
    color: var(--cream);
    font-weight: 300;
}

.link:hover{
    color: var(--darkCream);
    font-weight: 500;
}

.is-active{
    font-weight: 500;
    color: var(--darkCream);
}