.navBar{
    padding: 0% 2%;
    max-height: 6rem;
    width: 96%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.transOn{
    transition: background-color 1s;
    background-color: #00000000;
}

.transOff{
    transition: background-color 1s;
    background-color:var(--darkCream);
}

.items{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh;
    width: 100%;
    display: grid;
    list-style: none;
    justify-items: center;
    align-items: center;
}

.menu{
    justify-self: flex-start;
}

.cart{
    justify-self: flex-end;
}