.finishOrderBtn{
    width: 40%;
    height: 2rem;
    transition: 300ms;
    border-radius: 1rem;
    padding: 0rem 0.5rem;
    opacity: 0.8;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    background-color: var(--cream);
}

.finishOrderBtn:hover{
    background-color: var(--darkCream);
}

.finishOrderBtn a{
    color: var(--black);
    text-decoration: none;
}

.clearCartBtn{
    width: 40%;
    height: 2rem;
    transition: 300ms;
    border-radius: 1rem;
    padding: 0rem 0.5rem;
    opacity: 0.8;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    background-color: var(--darkGreen);
    color: var(--cream);
}

.clearCartBtn:hover{
    background-color: var(--green);
}