.sideBar{
    left: -20%;
    top: 10vh;
    width: 16%;
    height: 85vh;
    padding-top: 5%;
    padding-left: 4%;
    gap: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    justify-items: center;
    position: absolute;
    list-style: none;
    background-color: var(--darkCream);
}

.hideSidebar{
    opacity: 0;
    transition: transform 1s, opacity 1s;
    transform: translateX(-100%);
}

.showSidebar{
    opacity: 1;
    transition: transform 1s, opacity 1s;
    transform: translateX(100%);
}