.footer{
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    bottom: 0%;
    height: 10vh;
    width: 96vw;
    padding: 0.5vh 2vw;
}

.footerItems{
    color: var(--grey);
}