.mainPageBox{
    min-height: 90vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.productsList{
    list-style: none;
    display: grid;
    align-items: center;
    overflow: hidden;
    grid-template-rows: 50vh auto;
    grid-template-columns: 85vw;
    border-radius: 2rem;
    padding: 2%;
    opacity: 1;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagesGallery{
    grid-row: 1;
    display: flex;
    flex-flow: row nowrap;
    align-self: stretch;
}

.productsItems{
    height: 100%;
    width: calc(100%/11);
    transition: width 1s;
    position: relative;
    overflow: hidden;
}

.productsItems:hover{
    width: 30rem;
}

.product{
    text-decoration: none;
    color: var(--cream);
}

.productDetail{
    grid-row: 2;
    height: 20vh;
}

.productImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}