.itemListContainerBox{
    height: 300vh;
    max-width: 85vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1{
    font-size: 3rem;
    font-family: var(--serif);
}

.categoriesList{
    border-radius: 2rem;
    padding: 5%;
    width: 30vw;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 1s;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}

.categoriesListOpen{
    transform: translateX(-50%);
}

.productsItems{
    transition: height 1s, box-shadow 1s;
    background-image: #000;
    overflow: hidden;
    position: relative;
    display: grid;
}

.productsItemsClose{
    transition: height 1s, box-shadow 1s;
    overflow: hidden;
    position: relative;
    display: grid;
}

.productsItemsOpen{
    transition: height 1s, box-shadow 1s;
    height: 30rem;
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}

.productsItems:hover{
    height: 30rem !important;
}

.productImage{
    object-fit: cover;
    overflow: hidden;
}

.multipleImagesProduct{
    height: 100%;
    width: 50%;
    object-fit: cover;
    overflow: hidden;
}

.productImageBox{
    transition: opacity 1s;
    height: 100%;
    overflow: hidden;
}

.openProductImageBox{
    opacity: 1;
}

.closeProductImageBox{
    opacity: 0.3;
}

.closeProductImageBox:hover{
    opacity: 1;
}

.notImageOpen{
    opacity: 0.5;
}

.notImageOpen:hover{
    opacity: 1;
}

.categoryTitle{
    height: 50%;
    width: 100%;
    top: 50%;
    text-align: center;
    position: absolute;
}

.productsItemsOpen ~ .categoryTitle{
    opacity: 0 !important;
}

.closeProductImageBox:hover ~ .categoryTitle{
    opacity: 0 !important;
}

.notImageOpen:hover ~ .categoryTitle{
    opacity: 0 !important;
}

.productsItems:hover ~ .categoryTitle{
    opacity: 0 !important;
}

.categoryDetails{
    animation-name: showDataCategories;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    background-color: var(--green);
    gap: 2rem;
    border-radius: 2rem;
    width: 25vw;
    right: 10vw;
    z-index: -5;
    padding: 2% 5% 4% 5%;
}

@keyframes showDataCategories {
    0%{
        opacity: 0;
        right: -30vw;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        top: 30vh;
        transform: scale(1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.categoryMultipleDetails{
    animation-name: showDataMultipleCategories;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    background-color: var(--green);
    gap: 2rem;
    border-radius: 2rem;
    width: 25vw;
    right: 10vw;
    z-index: -5;
    padding: 2% 5% 4% 5%;
}

@keyframes showDataMultipleCategories {
    0%{
        opacity: 0;
        right: -30vw;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        top: 30vh;
        transform: scale(1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.categoryProductBox{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.speciesTitle{
    height: 1.5rem;
    font-size: 1.5rem;
    color: var(--cream);
}

.categoryProductName{
    height: 1rem;
    font-size: 1rem;
    color: var(--cream);
}

.categoryPrice{
    height: 1rem;
    font-size: 1rem;
    color: var(--cream);
}

.categoryDescription{
    color: var(--cream);
}

.addToCartBox{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex end;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1px solid var(--cream);
    padding-bottom: 1rem;
    margin: 0%;
    width: 100%;
}

.addToCartBox .amountContainer{
    width: 20%;
}